<html>
    <head>
        <title>Traders</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-bootstrap@1.0.0-beta.9/dist/react-bootstrap.js" crossorigin></script>
        
        <h1>Markets</h1>
        {% for market in markets %}
            <ul><a href="/market/{{market['id']}}">{{market['id']}}</a></ul>
        {% endfor %}
        <div id="root"></div>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>
    </body>
</html>